* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #222222;
  font-weight: 400;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}
header {
  background-color: #222222;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.logo {
  display: flex;
  align-items: center;
  img {
    margin-right: 15px;
  }
  p.logo-title {
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    text-align: right;
  }
}
.menu {
  display: flex;
  align-items: center;
  li {
    margin: 0 35px;
  }
  a {
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    i {
      color: #ffffff;
    }
    &.active {
      color: #c88b09;
    }
    &:hover {
      color: #c88b09;
    }
  }
}
li.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  right: 0;
  top: 47px;
  background-color: #222222;
  width: 200px;
  border-top: 4px solid #ffa000;
  z-index: 2;
  ul {
    li {
      padding: 10px 20px;
      margin: 0;
      border-bottom: 1px solid #424242;
      &:last-child {
        border: 0;
      }
      a {
        color: #e0e0e0;
        font-size: 16px;
      }
    }
  }
}
.section-banner {
  background-image: url(img/banner-min.png);
  height: 500px;
  background-position: center;
  position: relative;
  .title-section {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    padding: 0 10px;
    h1 {
      font-size: 60px;
      line-height: 20px;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
    }
    p.breadcrumbs {
      margin-top: 30px;
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      i {
        color: #e0e0e0;
      }
      a {
        color: #e0e0e0;
        margin: 0 5px;
        font-size: 16px;
        &.active {
          color: #ffa000;
        }
      }
    }
  }
}
h2 {
  text-align: center;
  font-size: 35px;
  line-height: 40px;
  color: #222222;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.about-agency {
  margin: 75px 0;
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .block-image {
      padding-right: 15px;
      width: 50%;
      img {
        width: 100%;
      }
    }
    .block-text {
      width: 50%;
      font-size: 15px;
      line-height: 24px;
      color: #222222;
      font-weight: 400;
      padding-left: 15px;
      p {
        margin-bottom: 30px;
      }
      h3 {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 40px;
        color: #222222;
        font-weight: 700;
      }
      .check {
        margin-left: 10px;
        i {
          color: #ffa000;
          margin-right: 4px;
        }
      }
    }
  }
}
.what-we-do {
  padding: 75px 0;
  background-color: #eeeeee;
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    .info-item {
      width: 30%;
      background-color: #ffffff;
      height: 490px;
      margin: 0 15px;
      border: 1px solid #e0e0e0;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 100%;
      }
      .text-block {
        padding: 10px 20px;

        h4 {
          font-size: 20px;
          line-height: 40px;
          color: #222222;
          font-weight: 700;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
      }
    }
  }
}
footer {
  background-color: #222222;
  padding: 15px 0;
  .container {
    display: flex;
    justify-content: space-between;
    .reserve {
      font-size: 15px;
      line-height: 24px;
      color: #eeeeee;
      font-weight: 400;
    }
    .sci {
      display: flex;
      align-items: center;
      li {
        margin: 0 15px;
        a {
          i {
            color: #eeeeee;
            font-size: 20px;
          }
          &:hover {
            i {
              color: #ffa000;
            }
          }
        }
      }
    }
  }
}


@media(max-width: 992px) {
  .header {
    display: block;
  }
  .logo {
    justify-content: center;
  }
  .menu {
    justify-content: space-between;
    padding-top: 10px;
  }
  .dropdown-menu {
    top: 40px;
  }
  .about-agency .about-content {
    flex-wrap: wrap;
    .block-image {
      width: 100%;
      margin-bottom: 30px;
      padding: 0;
    }
    .block-text {
      width: 100%;
      padding: 0;
    }
  }
  .what-we-do .info {
    flex-direction: column;
  }
  .what-we-do .info .info-item {
    margin: 20px 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {

  .menu {
    flex-direction: column;
    li {
      margin: 5px 0;
    }
  }
  .dropdown-menu {
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
  .section-banner .title-section h1 {
    font-size: 45px;
  }
}
@media (max-width: 575px) {
  footer .container {
    flex-direction: column;
    .reserve {
      text-align: center;
    }
    .sci {
      margin: 10px auto;
    }
  }
  h2 {
    font-size: 34px;
  }
}
