* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #222222;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  background-color: #222222;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  margin-right: 15px;
}
.logo p.logo-title {
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  text-align: right;
}

.menu {
  display: flex;
  align-items: center;
}
.menu li {
  margin: 0 35px;
}
.menu a {
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
}
.menu a i {
  color: #ffffff;
}
.menu a.active {
  color: #c88b09;
}
.menu a:hover {
  color: #c88b09;
}

li.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 47px;
  background-color: #222222;
  width: 200px;
  border-top: 4px solid #ffa000;
  z-index: 2;
}
.dropdown-menu ul li {
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #424242;
}
.dropdown-menu ul li:last-child {
  border: 0;
}
.dropdown-menu ul li a {
  color: #e0e0e0;
  font-size: 16px;
}

.section-banner {
  background-image: url(img/banner-min.png);
  height: 500px;
  background-position: center;
  position: relative;
}
.section-banner .title-section {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  padding: 0 10px;
}
.section-banner .title-section h1 {
  font-size: 60px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}
.section-banner .title-section p.breadcrumbs {
  margin-top: 30px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.section-banner .title-section p.breadcrumbs i {
  color: #e0e0e0;
}
.section-banner .title-section p.breadcrumbs a {
  color: #e0e0e0;
  margin: 0 5px;
  font-size: 16px;
}
.section-banner .title-section p.breadcrumbs a.active {
  color: #ffa000;
}

h2 {
  text-align: center;
  font-size: 35px;
  line-height: 40px;
  color: #222222;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.about-agency {
  margin: 75px 0;
}
.about-agency .about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-agency .about-content .block-image {
  padding-right: 15px;
  width: 50%;
}
.about-agency .about-content .block-image img {
  width: 100%;
}
.about-agency .about-content .block-text {
  width: 50%;
  font-size: 15px;
  line-height: 24px;
  color: #222222;
  font-weight: 400;
  padding-left: 15px;
}
.about-agency .about-content .block-text p {
  margin-bottom: 30px;
}
.about-agency .about-content .block-text h3 {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 40px;
  color: #222222;
  font-weight: 700;
}
.about-agency .about-content .block-text .check {
  margin-left: 10px;
}
.about-agency .about-content .block-text .check i {
  color: #ffa000;
  margin-right: 4px;
}

.what-we-do {
  padding: 75px 0;
  background-color: #eeeeee;
}
.what-we-do .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.what-we-do .info .info-item {
  width: 30%;
  background-color: #ffffff;
  height: 490px;
  margin: 0 15px;
  border: 1px solid #e0e0e0;
}
.what-we-do .info .info-item:first-child {
  margin-left: 0;
}
.what-we-do .info .info-item:last-child {
  margin-right: 0;
}
.what-we-do .info .info-item img {
  width: 100%;
}
.what-we-do .info .info-item .text-block {
  padding: 10px 20px;
}
.what-we-do .info .info-item .text-block h4 {
  font-size: 20px;
  line-height: 40px;
  color: #222222;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

footer {
  background-color: #222222;
  padding: 15px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container .reserve {
  font-size: 15px;
  line-height: 24px;
  color: #eeeeee;
  font-weight: 400;
}
footer .container .sci {
  display: flex;
  align-items: center;
}
footer .container .sci li {
  margin: 0 15px;
}
footer .container .sci li a i {
  color: #eeeeee;
  font-size: 20px;
}
footer .container .sci li a:hover i {
  color: #ffa000;
}

@media (max-width: 992px) {
  .header {
    display: block;
  }

  .logo {
    justify-content: center;
  }

  .menu {
    justify-content: space-between;
    padding-top: 10px;
  }

  .dropdown-menu {
    top: 40px;
  }

  .about-agency .about-content {
    flex-wrap: wrap;
  }
  .about-agency .about-content .block-image {
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
  }
  .about-agency .about-content .block-text {
    width: 100%;
    padding: 0;
  }

  .what-we-do .info {
    flex-direction: column;
  }

  .what-we-do .info .info-item {
    margin: 20px 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
  .menu li {
    margin: 5px 0;
  }

  .dropdown-menu {
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
  }

  .section-banner .title-section h1 {
    font-size: 45px;
  }
}
@media (max-width: 575px) {
  footer .container {
    flex-direction: column;
  }
  footer .container .reserve {
    text-align: center;
  }
  footer .container .sci {
    margin: 10px auto;
  }

  h2 {
    font-size: 34px;
  }
}

/*# sourceMappingURL=style.css.map */
